*{
    padding:0;
    box-sizing:border-box;
    margin: 0;
}
{
    #A9DFED
    #EBD6ES
    #84COE9
    #37419A
}
body{
    font-family: 'Open Sans', sans-serif;
}
.container{
    padding:60px 0;
    width: 90%;
    max-width: 1000;
    margin: auto;
}
.title{
    font-size:30px;
    color: #37419A ;
    text-align: center;
    margin-bottom: 40px;
    text-transform: uppercase;
}
.titlee{
    font-size:30px;
    color: #37419A ;
    margin-bottom: 30px;
    text-transform: uppercase;
}
.tilde{
    font-size:20px;
    text-align:center;
    color:#84C0E9 ;
    margin-bottom: -150px;
}
header{
    width: 100%;
    height: 800px;

   background: #37419A;  /* fallback for old browsers */
   background: linear-gradient(to right, hsla(234, 47%, 41%, 0.57), hsla(234, 47%, 41%, 0.576), hsla(234, 47%, 41%, 0.624),hsl(234, 47%, 41%)),url(../imagenes/img8.jpg); /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, hsla(234, 47%, 41%, 0.57), hsla(234, 47%, 41%, 0.576), hsla(234, 47%, 41%, 0.624),hsl(234, 47%, 41%)),url(../imagenes/img8.jpg);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   
   background-size: cover;
   background-attachment: fixed;
   position: relative;
}
nav{
    width: 100%;
    height: 75px;
    background-color: #EBD6E8;
    border: 1px solid transparent;
    box-shadow: 1px 1px 1px 0 rgba(0,0,0, .2);
    position: fixed;
    top: 0;
    text-align:right;
    padding: 0px 30px 0px 93px;
}
.nav{
    align-items: center;
    justify-content: space-between;
    vertical-align: top;
}
.lef{
    font-size: 30px;
    font-weight: 30;
    color : #37419A;
    text-align:left;    
    padding: 0px 0px 0 24px;
    font-weight: bold;
    
}
nav>a{
    color:#37419A;
    font-weight: bold;
    text-decoration: none;
    margin-right: 60px;
}
nav>a:hover{
    text-decoration: underline;
}
#wave{
    width: 100%;
    bottom: 20;
    position: absolute;
}

.text-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.container-about-us{
    display: flex; 
    justify-content: space-evenly;
}

.image-aboust-us{
    width: 48%;
}
 .about-us .content-text{
     width: 48%;

 }
.content-text h3{
    margin-bottom: 70px;

}
.content-text h3 span {
    background-color: #37419A ;
    color:#A9DFED;
    width: 30px;
    height: 30px;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
    margin-right: 7px;
}

.content-text p{
    padding: 0px 0px 30px 30px;
    text-align: justify;
    font-weight: 300;
}

.text-header h1{
    font-size: 80px;
    font-weight: 300;
    color :#EBD6E8;
}

.text-header h2{
    font-size: 110px;
    font-weight: 00;
    color :#84C0E9 ;
}

.illustration{
  width: 100%;
  border-radius: 10%;
}
.gallery{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.gallery-market >img{
    width: 100%;
    margin-bottom: 1px;

}
.gallery-market{
    width: 28%;
    height: 420px;
    margin-bottom: 45px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0,0,0, .5);
}
 
.image-gallery{
    height: 48%;
    object-fit: cover;
    display: block;
}

footer{
  background-color: #37419A;
  padding: 60px  0 30px 0;
  margin: auto;
  overflow: hidden;

}
.container-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
}
.content-footer{
    text-align: center;
    color:antiquewhite;
}
.content-footer h4{
    color: #EBD6E8;
    padding-bottom: 22px;
    margin-bottom: 55px;
}

.content-footer p{
    color: #EBD6E8;
    padding: 9px 41px 12px 142px;
    text-align: justify;
    font-weight: 300;  
}